
body {
    background-color: #333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 1024px;
}

#mapContainer {
    margin-left: 0;
    padding-left: 0;
}

    .important-message {
      color: yellow;
      font-weight: bold
    }
 
    #title {
        /* margin-bottom: 2px; */
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: 0;
    }
    #top-border {
        /* height: 50px; */
        padding: 16px;
        background-color: #000066;
        border-width: 14px 2px;
        border-style: solid;
        border-image-source: url(../../assets/img/top-border-big.png);
        border-image-repeat: repeat;
        border-image-width: 14px 14px;
        border-image-slice: 14;
    }

     
    #right-bar {
        float: left;
        width: 200px;
        height: 373px;
   margin-left: 3px;

         padding: 16px;
        /* background-color: #000066; */
        border-width: 14px 2px;
        border-style: solid;
        border-image-source: url(../../assets/img/right-border-big.png);
        border-image-repeat: repeat;
        border-image-width: 14px 14px;
        border-image-slice: 14;
        background-color: #336699;
    }

    #status2 {
        float: left;
    }

    #target {
        float: left;
        margin-left: 15px;
        margin-top: 2px;
    }
    #ability-icons {
        margin-left: 190px;
        float: left;
    }
    #status-info {
        clear: both;
        margin-left: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    #status-bar {
        float: left;
        margin-left: 10px;
        width: 199px;
        height: 91px;
        background: url(../../assets/img/status-bar.png) -10px -20px no-repeat;
    }

    #portrait2 {
        padding: 8px;
    }

    #condition {
        position: relative;
        left: 123px;
        top: -90px;
    }

    .impale-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) 0 0;
    }

    .impale-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) 0 0;
    }

    .charge-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -75px 0;
    }

    .charge-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -75px 0;
    }

    #ability-icons {
        /* float: left; */
        height: 90px;
        width: 245px
    }

    .ability-super-container {
        /* display: block; */
        /* height: 85px; */
        /* width: 245px; */
        /* clear: both; */
        float: left;
        max-width: 80px;
    }

    .ability-icon {
        margin: 2px;
        /* float: left */
    }

    .container0{
        position: relative;
        /* text-align:center; */
    }
    .container1{
        position: relative;
        text-align:center;
    }
    .container2{
        position: relative;
        text-align:center;
    }
    .ability-name {
        text-align: center;
        padding-left: 14px;
        /* text-overflow: ellipsis; */
        /* word-wrap: break-word */
    }

    .center0 {
        position: absolute;
        left: 26px;
        top: 15%;
        color: yellow;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .center1 {
        position: absolute;
        left: 14px;
        top: 15%;
        color: yellow;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .center2 {
        position: absolute;
        left: 14px;
        top: 15%;
        color: yellow;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .bottom-left0 {
        position: absolute;
        bottom: 10px;
        left: 6px;
        color: black;
        background-color: white;
        width: 20px;
        height: 18px;
    }
    .bottom-left1 {
        position: absolute;
        bottom: 10px;
        left: 6px;
        /* left: 85px; */
        color: black;
        background-color: white;
        width: 20px;
        height: 18px;
    }
    .bottom-left2 {
        position: absolute;
        bottom: 10px;
        left: 6px;
        color: black;
        background-color: white;
        width: 20px;
        height: 18px;
    }
   

    #monster-container h3 {
        margin: 0
    }

    #monster-container ol {
        margin: 0
    }

    #monster-container {
        padding: 5px;
        margin-left: -4px;
        margin-top: -16px;
        margin-right: -4px;
        /* float: left;  */
        /* width: 200px;  */
        /* background-color: #999999;  */
        /* background-color: #006666; */
        /* background-color: #339999; */
        background-color: #336699;
        font-weight: bold

    }

    #progress-container {
        padding: 5px;
        margin-left: -4px;
        margin-top: -16px;
        margin-right: -4px;
        /* float: left;  */
        /* width: 200px;  */
        /* background-color: #999999;  */
        background-color: #336699;
        font-weight: bold
    }