
body {
    background-color: #333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 1018px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

.game {
    display: none;
}

.title {
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
}

#name {
    position: relative;
    top: -366px;
    left: -221px;
    font-size: 0.9rem;
    font-weight: bold;
}

#hp {
    position: relative;
    color: greenyellow;
   display: none; }

#score {
    position: relative;
    /* color: #96f; */
    top: -366px;
    left: -202px;
    font-size: 0.9rem;
    font-weight: bold;
}

#level {
    /* margin-left: 3px; */
    /* position: relative; */
    /* top: -265px; */
    /* left: 200px; */
    /* margin-top: 75px; */
    /* font-size: 1.2rem; */

        margin-left: 3px;
    position: relative;
    top: 103px;
    /* left: 200px; */
    margin-top: 99px;
    font-size: 1.2rem
}
#mapContainer {
    margin-left: 3px;
    padding-left: 0;
    margin-bottom: -4px;
}

    .important-message {
      color: yellow;
      font-weight: bold
    }
 
    #title {
        /* margin-bottom: 2px; */
        /* margin-top: 0; */
        /* margin-left: 10px; */
        /* margin-bottom: 0; */
        position: absolute;
        font-size: 2rem;
        /* left: 657px; */

        left: 670px;
        top: 41px;
    }
    #top-border {
        /* height: 50px; */
        padding: 7px;
        background-color: #000066;
        border-width: 14px 2px;
        border-style: solid;
        border-image-source: url(../../assets/img/top-border-big.png);
        border-image-repeat: repeat;
        border-image-width: 14px 14px;
        border-image-slice: 14;
    }

    .main-container {
        
        margin-left: 7px;
        border-width: 14px 2px;
        border-style: solid;
        border-image-source: url(../../assets/img/main-border-big.png);
        border-image-repeat: repeat;
        border-image-width: 14px 14px;
        border-image-slice: 14;
        float: left;
    }
     
    #right-bar {
        float: left;
        width: 200px;
        height: 373px;
        margin-left: 0;
        margin-right: 12px;

         padding: 16px;
        /* background-color: #000066; */
        border-width: 14px 2px;
        border-style: solid;
        border-image-source: url(../../assets/img/right-border-big.png);
        border-image-repeat: repeat;
        border-image-width: 14px 14px;
        border-image-slice: 14;
        /* background-color: #336699; */
        /* background-color: #6699cc; */
        background-color:  #88a6c4;
    }

    #status2 {
        float: left;
    }

    #target {
        /* float: left; */
        /* margin-left: 15px; */
        /* margin-top: 2px; */
        top: -179px;
        position: relative;
        left: 215px;
    }
    #ability-icons {
        /* margin-left: 190px; */
        /* float: left; */
            position: relative;
    top: -262px;
    left: 320px;
    }
    #status-info {
        clear: both;
        margin-left: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 1.2em;
        font-weight: bold;
    }

    #status-bar {
        border: 4px solid white;
        /* border-color: #49962f; */
        border-color: black;
        border-bottom: 1px solid white;
        float: left;
        margin-left: 10px;
        width: 578px;
        height: 120px;
        background: url(../../assets/img/status-bar.png) -10px 0 no-repeat;
    }

    #portrait2 {
        /* padding: 8px; */
        margin: 8px;
        height: 75px;
        width: 75px;
        margin-top: 28px;
    }

    #condition {
        position: relative;
        left: 123px;
        top: -85px;
    }

    .zombie {
        background: url(../../assets/img/mob-sprite-sheet.png) 0 0;
    }

    .chimera {
        background: url(../../assets/img/mob-sprite-sheet.png) -75px 0;
    }

    .dog {
        background: url(../../assets/img/mob-sprite-sheet.png) -150px 0;
    }

    .hunter {
        background: url(../../assets/img/mob-sprite-sheet.png) -225px 0;
    }
    
    .jill {
        background: url(../../assets/img/mob-sprite-sheet.png) -300px 0;
    }

    .chris {
        background: url(../../assets/img/mob-sprite-sheet.png) -375px 0;
    }

    .tyrant {
        background: url(../../assets/img/mob-sprite-sheet.png) -450px 0;
    }

    .lisa {
        background: url(../../assets/img/mob-sprite-sheet.png) 0 75px;
    }

    .shark {
        background: url(../../assets/img/mob-sprite-sheet.png) -75px 75px;
    }

    .spider {
        background: url(../../assets/img/mob-sprite-sheet.png) -150px 75px; 
    }

    .barry {
        background: url(../../assets/img/mob-sprite-sheet.png) -225px 75px; 
    }

    .brad {
        background: url(../../assets/img/mob-sprite-sheet.png) -300px 75px; 
    }

    .wesker {
        background: url(../../assets/img/mob-sprite-sheet.png) -375px 75px; 
    }

    .impale-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) 0 0;
    }
    .impale-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) 0 0;
    }

    .charge-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -75px 0;
    }
    .charge-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -75px 0;
    }

    .infect-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -150px 0;
    }
    .infect-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -150px 0;
    }

    .grab-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -225px 0;
    }
    .grab-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -225px 0;
    }

    .grenadelauncher-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -300px 0;
    }
    .grenadelauncher-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -300px 0;
    }

    .shotgun-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -375px 0;
    }
    .shotgun-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -375px 0;
    }

    .magnum-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) 0 75px;
    }
    .magnum-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) 0 75px;
    }

    .bite-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -75px 75px;
    }
    .bite-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -75px 75px;
    }
    
    .haymaker-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -150px 75px;
    }
    .haymaker-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -150px 75px;
    }

    .poison-ready {
        background: url(../../assets/img/ability-sprite-sheet-color.png) -225px 75px;
    }
    .poison-cooldown {
        background: url(../../assets/img/ability-sprite-sheet-gray.png) -225px 75px;
    }


    #ability-icons {
        /* float: left; */
        height: 90px;
        width: 245px
    }

    .ability-super-container {
        /* display: block; */
        /* height: 85px; */
        /* width: 245px; */
        /* clear: both; */
        float: left;
        max-width: 80px;
    }

    .ability-icon {
        margin: 4px;
        /* float: left */
    }

    .container0{
        position: relative;
        /* text-align:center; */
    }
    .container1{
        position: relative;
        text-align:center;
    }
    .container2{
        position: relative;
        text-align:center;
    }
    .ability-name {
        text-align: center;
        padding-left: 14px;
        /* text-overflow: ellipsis; */
        /* word-wrap: break-word */
    }

    .center0 {
        position: absolute;
        left: 26px;
        top: 15%;
        color: yellow;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .center1 {
        position: absolute;
        left: 14px;
        top: 15%;
        color: yellow;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .center2 {
        position: absolute;
        left: 14px;
        top: 15%;
        color: yellow;
        width: 50px;
        height: 50px;
        font-size: 50px;
    }

    .bottom-left0 {
        position: absolute;
        bottom: 10px;
        left: 6px;
        color: black;
        background-color: white;
        width: 20px;
        height: 18px;
    }
    .bottom-left1 {
        position: absolute;
        bottom: 10px;
        left: 6px;
        /* left: 85px; */
        color: black;
        background-color: white;
        width: 20px;
        height: 18px;
    }
    .bottom-left2 {
        position: absolute;
        bottom: 10px;
        left: 6px;
        color: black;
        background-color: white;
        width: 20px;
        height: 18px;
    }
   

    #monster-container h3 {
        margin: 0
    }

    #monster-container ol {
        margin: 0
    }

    #monster-container {
        padding: 5px;
        margin-left: -4px;
        margin-top: -16px;
        margin-right: -4px;
        /* float: left;  */
        /* width: 200px;  */
        /* background-color: #999999;  */
        /* background-color: #006666; */
        /* background-color: #339999; */
        /* background-color: #336699; */
        font-weight: bold

    }

    #progress-container {
        padding: 5px;
        margin-left: -4px;
        margin-top: -16px;
        margin-right: -4px;
        /* float: left;  */
        /* width: 200px;  */
        /* background-color: #999999;  */
        /* background-color: #336699; */
        font-weight: bold
    }

    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

#msg {
    font-size: 1.2em;
    margin-left: 7px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}