.jill {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -150px;
}

.jill-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -225px;
}

.jill-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -300px;
}

.leon {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -375px;
}

.leon-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -450px;
}

.leon-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -525px;
}

.claire {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -375px;
}

.claire-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -450px;
}

.claire-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -525px;
}

.ada {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -375px;
}

.ada-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -450px;
}

.ada-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -525px;
}


.rebecca {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px -375px;
}

.rebecca-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px -450px;
}

.rebecca-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px -525px;
}

.billy {
    background: url(../../assets/img/mob-sprite-sheet.png) -300px -375px;
}

.billy-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -300px -450px;
}

.billy-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -300px -525px;
}

.hunk {
    background: url(../../assets/img/mob-sprite-sheet.png) -375px -375px;
}

.hunk-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -375px -450px;
}

.hunk-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -375px -525px;
}

.krauser {
    background: url(../../assets/img/mob-sprite-sheet.png) -450px -375px;
}

.krauser-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -450px -450px;
}

.krauser-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -450px -525px;
}

.birkin {
    background: url(../../assets/img/mob-sprite-sheet.png) -525px -375px;
}

.birkin-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -525px -450px;
}

.birkin-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -525px -525px;
}


.chris {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -150px;
}

.chris-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -225px;
}

.chris-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -300px;
}

.barry {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -150px;
}

.barry-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -225px;
}

.barry-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -300px;
}

.brad {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px -150px;
}

.brad-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px -225px;
}

.brad-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px -300px;
}

.wesker {
    background: url(../../assets/img/mob-sprite-sheet.png) -300px -150px;
}

.wesker-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -300px -225px;
}

.wesker-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -300px -300px;
}

.zombie,
.zombie-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 0;
}

.chimera,
.chimera-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px 0;
}

.dog,
.dog-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px 0;
}

.hunter,
.hunter-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -225px 0;
}

.tyrant,
.tyrant-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -450px 0;
}

.lisa,
.lisa-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) 0 -75px;
}

.shark,
.shark-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -75px -75px;
}

.spider,
.spider-dead {
    background: url(../../assets/img/mob-sprite-sheet.png) -150px -75px;
}

.unknown,
.unknown-dead,
.unknown-eliminated {
    background: url(../../assets/img/mob-sprite-sheet.png) -450px -75px;
}

.condition-fine {
    background: url(../../assets/img/mob-sprite-sheet.png) -375px -150px;
}

.condition-caution {
    background: url(../../assets/img/mob-sprite-sheet.png) -450px -150px;
}

.condition-danger {
    background: url(../../assets/img/mob-sprite-sheet.png) -525px -150px;
}